<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.klo.lp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appname"
        android:theme="@style/AppTheme">
        <activity
            android:name="ua.klo.lp.MainActivity"
            android:label="@string/appname"
            android:screenOrientation="portrait"
            
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.klo.lp.ConfActivity"
            android:label="@string/appname" 
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="ua.klo.lp.InetActivity"
            android:label="@string/appname"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="ua.klo.lp.Azs_activity"
            android:label="@string/appname"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
